<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Aqif's Tracking{% endblock %}</title>
</head>
<body>
    
    <!-- <nav>
        <a href="#">Home</a>
        <a href="#">blog</a>
        <a href="#">Contact</a>
        <a href="#">Career</a>
    </nav> -->

    {% block content %}

    {% endblock %}

    <hr>

    <!-- {% block footer %}
        This is footer
    {% endblock %} -->

</body>
</html>