<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <h1>My Site</h1>

    <a href="/">Home</a>
    <span>/</span>

    {% if current_user %}
        <a href="{% url 'sessionApp:logout' %}">Logout</a>
        <hr>
        <h2>Welcome <span style="color: dodgerblue;">{{current_user}}</span>!</h2>
    {% else %}
        <a href="{% url 'sessionApp:login' %}">Login</a>
        <span>/</span>
        <a href="{% url 'sessionApp:signup' %}">Sign Up</a>
        <hr>
        <h2>Login to access this website!</h2>
    {% endif %}


    {% block body %}{% endblock %}
</body>
</html>